*{
    margin: 0;
}

body{
   background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
    overflow-y: hidden;
  
}
#headline2{
width: 70%;
height: 100%;
position: absolute;
display: none;
bottom: 20%;
}

#female{
    margin-left: 25%;
   opacity:0;
    width:50%;
    max-height: 60%;
    position: absolute;
    transition:opacity 1s ease-in-out;
}

#headline1{
    height: 80%;
    width: 80%;
    margin-top: 11%;
margin-left: 20%;
display: none;
position: absolute; 
transition: opacity 0.5s ease-in-out;
opacity: 1;
transition: opacity 0.5s ease-in-out;
}

.slide-in{
        animation-name: slideIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
       
      }
      
      @keyframes slideIn{
        from {
          transform: translateX(-800px);
       
        }
        to {
          transform: translateX(0);
        }
      }
.slide-out{
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-timing-function:linear;
}
@keyframes slideOut{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}
#sub{
position: absolute;
    margin-left: 55%;
    margin-top: 11%;
   height: 70%;
   width: 45%;
   opacity: 0;
   transition: opacity 1s ease-in-out;
}
#logo{
    margin-top: -5%;
    left: 60%;
    position: absolute; 
    width:30%;
    display: none;
}
#learn{
    position: absolute;
    width:27%;
    top: 70%;
    margin-left:33%;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}
#replay{
    position: absolute;
   top: 85%;
    width:20%;
    margin-left:38%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.logo{
    animation-name: logoSide;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
   
}

@keyframes logoSide{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.h1Out{
    animation-name: h1Out;
    animation-duration: 0.5s;
    animation-timing-function:ease-in-out;
}
@keyframes h1Out{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}